/*---Global Reset---*/
html { min-width: 320px }
body {
    margin: 0;
    color: #000;
    font: 11px/16px Arial, sans-serif;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
}
img {
    border: 0;
    vertical-align: top;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: #000;
}
a:hover { text-decoration: underline }
form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}
.container {
    max-width: 1200px;
    position: relative;
    overflow: hidden;
}
section:not(.promo) { padding: 72px 0 57px }
/*---Fonts---*/
@font-face {
    font-family: "Advent Pro";
    src: local("Advent Pro"), url(../fonts/Advent_Pro/AdventPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Advent Pro";
    src: local("Advent Pro"), url(../fonts/Advent_Pro/AdventPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
/*---Titles---*/
h1,
h3,
h4 {
    text-transform: uppercase;
    font-family: "Advent Pro", sans-serif !important;
}
h3 {
    text-align: center;
    font-weight: normal;
    font-size: 38px !important;
}
.text-holder h4,
.biggest-img > .img-description h4 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
}
.firstWord {
    font-weight: bold;
    color: #000;
}
p {
    font: 20px/1.4 "Open Sans", sans-serif;
    text-align: center;
}
.info p,
.news p { color: #555 }
.info h3,
.news h3 { color: #008287 }
.services h3,
.contacts h3 { color: #fff }
/*---Header---*/
.header-holder {
    max-width: 1146px;
    margin: 0 auto;
}
.logo {
    background: url(../images/logo.png) no-repeat;
    background-size: cover;
    width: 160px;
    height: 30px;
    float: left;
    margin-top: 16px;
    margin-left: 15px;
}
.logo a {
    display: block;
    text-indent: -9999px;
    height: 100%;
}
.main-nav {
    font: 14px/1.2 "Advent Pro", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    float: right;
    margin-top: 34px;
    margin-bottom: 3px;
}
.main-nav select {
    width: 90px;
    margin-right: 7px;
}
.main-nav ul {
    display: none;
    list-style: none;
    overflow: hidden;
}
.main-nav li {
    display: inline-block;
    position: relative;
    margin-right: 27px;
}
.main-nav a { color: #e5e5e5 }
.main-nav a:hover {
    color: #a8a8a8;
    text-decoration: none;
}
.main-nav a:active {
    color: #a8a8a8;
    text-decoration: none;
    box-shadow: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 5px;
}
header {
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 9999;
}
/*---Gallery---*/
.promo { padding-top: 58px }
.gallery {
    border-top: 6px solid #00aba9;
    border-bottom: 6px solid #00aba9;
}
.item img {
    filter: grayscale(150%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#owl .item img {
    display: block;
    width: 100%;
    height: auto;
}
.owl-pagination { display: none }
.owl-item { position: relative }
.owl-prev,
.owl-next {
    position: absolute;
    top: 47%;
    width: 20px;
    height: 20px;
    background-color: #00aba9;
    text-indent: -9999px;
}
.owl-next { right: 10px }
.owl-prev { left: 10px }
.owl-prev:after,
.owl-next:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 17px;
}
.owl-prev:after {
    background: url('../images/arrows-sprite.png') no-repeat 0 0;
    top: 2px;
    left: 1px;
}
.owl-next:after {
    background: url('../images/arrows-sprite.png') no-repeat -12px 0;
    top: 1px;
    left: 6px;
}
.item h1 {
    font-size: 20px;
    text-align: center;
    color: #00aba9;
    position: absolute;
    top: 14%;
    left: 14%;
    right: 14%;
}
.item h1 > span {
    background-color: rgba(0, 130, 132, 0.7); /*width: 368px;; height: 81px; */ padding: 0 19px; color: #fff; font-weight: bold; ;
}
/*---Services---*/
.services { background-color: #008287 }
.services p,
.contacts p { color: #fff }
.text-holder h4 { padding-top: 20px }
.text-holder p {
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    margin-top: -6px;
}
.i-frame i {
    color: #fff;
    font-size: 48px;
    float: left;
    display: table-cell;
    width: 48px;
    height: 48px;
    margin-right: 32px;
    margin-top: 57px;
    position: relative;
}
.i-frame i:after {
    content: '';
    background: url(../images/i-frame.png) no-repeat;
    position: absolute;
    top: -17px;
    right: -17px;
    width: 81px;
    height: 81px;
}
.text-holder {
    display: table-cell;
    width: 270px;
}
.fa-graduation-cap { font-size: 40px !important }
/*---News---*/
.news p,
.contacts p { margin-bottom: 46px }
.images { margin-bottom: 26px }
.image { position: relative }
.image img {
    width: 280px;
    height: 183px;
    margin-bottom: 18px;
}
.img-line img { padding-left: 18px }
.img-line div { display: inline }
.biggest-img {
    width: 577px;
    height: 385px;
    overflow: hidden;
    margin-bottom: 18px;
}
.biggest-img > .date-img {
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
}
.date-img {
    font: 16px/1.2 "Advent Pro", sans-serif;
    font-weight: bold;
    color: #fff;
    position: absolute;
    right: 4px;
    top: -81px;
    background-color: rgba(26, 117, 120, 0.5);
    width: 110px;
    height: 25px;
    text-align: center;
}
.biggest-img > .img-description {
    padding-left: 16px;
    bottom: 16px;
    left: 14px;
    background-color: rgba(66, 159, 147, 0.7);
    width: 100%;
}
.biggest-img > .img-description p {
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    color: #fefefe;
    margin-bottom: 10px;
}
.img-description {
    position: absolute;
    padding-left: 16px;
    bottom: -64px;
    left: 18px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 262px;
}
.img-description h4 {
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    color: #fff;
}
/*---Contacts---*/
.contacts {
    background: url(../images/contacts-bg.jpg) no-repeat;
    background-size: cover;
    border-bottom: 6px solid #00aba9;
}
.contacts h2 {
    color: #fff;
    font: 24px/1.2 "Open Sans", sans-serif;
    font-weight: normal;
}
.adress,
.tel {
    display: inline;
    float: left;
    font-size: 18px;
    color: #fff;
}
.adress { margin-right: 10% }
.tel { text-align: right }
.tel a {
    color: #fff;
    text-decoration: underline;
}
.tel a:hover { color: #a8a8a8 }
iframe {
    border: 1px solid #fff;
    width: 675px;
}
/*---Footer---*/
.footer {
    font-family: "Open Sans", sans-serif;
    background-color: #000;
    padding: 45px 0;
}
.footer strong {
    float: left;
    text-transform: uppercase;
    font: 24px/1.2 "Advent Pro", sans-serif;
    font-weight: bold;
    color: #fff;
}
.footer span { color: #008287 }
.footer-nav {
    list-style: none;
    display: block;
    text-align: center;
    margin-top: 5px;
}
.footer-nav li { display: inline-block }
.footer-nav a {
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 11px;
}
.footer-nav a:hover { color: #a8a8a8 }
.copyright {
    display: block;
    margin-right: -17px;
    color: #fff;
}
.social-networks {
    text-align: center;
    margin-right: 275px;
    float: right;
    margin-top: 25px;
}
.social-networks i {
    font-size: 17px;
    color: #fff;
    text-align: center;
    height: 26px;
    width: 26px;
    padding-top: 4px;
}
.fa-facebook { background-color: #2c509b }
.fa-twitter { background-color: #1ab2e8 }
.fa-youtube { background-color: #b30600 }
.fa-instagram { background-color: #234260 }
.fa-pinterest-p { background-color: #ca1b22 }
/*---Button Up---*/
.btn-up {
    position: fixed;
    bottom: 0;
    right: 12px;
    text-indent: -9999px;
}
.btn-up:before {
    content: '';
    background-color: #00aba9;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: -10px;
}
.btn-up:after {
    content: '';
    background: url('../images/arrows-sprite.png') no-repeat -3px -19px;
    width: 17px;
    height: 11px;
    position: absolute;
    bottom: 13px;
    right: 1px;
}
.btn-up:hover { background-color: #0b8685 }
@media (min-width: 600px) { 
    .item h1 {
        font-size: 24px;
        top: 40%;
        left: 17%;
    }
}
@media (min-width: 768px) { 
    .main-nav ul { display: inline-block }
    .main-nav select { display: none }
    .item h1 {
        font-size: 42px;
        left: 11%;
        right: 11%;
    }
    .promo { padding-top: 67px }
}
@media (min-width: 992px) { 
    .logo {
        width: 235px;
        height: 44px;
        margin-left: -21px;
        margin-top: 29px;
    }
    .owl-prev,
    .owl-next {
        width: 40px;
        height: 40px;
    }
    .owl-prev:after {
        top: 9px;
        left: 12px;
    }
    .owl-next:after {
        top: 9px;
        left: 15px;
    }
    .item h1 {
        font-size: 72px;
        left: 12%;
        right: 12%;
    }
    .main-nav {
        font: 24px/1.2 "Advent Pro", sans-serif;
        font-weight: bold;
    }
    header.sticky {
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 18px;
    }
    header.sticky .main-nav {
        font-size: 18px;
        margin-top: 32px;
    }
    header.sticky .logo { margin-top: 10px }
    .main-nav { margin-bottom: 17px }
    .promo { padding-top: 95px }
    iframe {
        border: 1px solid #fff;
        width: 600px;
    }
    .footer-nav {
        float: left;
        display: inline;
    }
    .social-networks {
        text-align: center;
        margin-right: 275px;
        float: none;
        margin-top: 0;
    }
    .copyright {
        float: right;
        display: inline;
        margin-top: -20px;
    }
}
@media (min-width: 1920px) { 
    .item h1 {
        font-size: 72px;
        left: 20%;
        right: 20%;
    }
    .adress { margin-right: 124px }
    iframe { width: 675px }
}